@model IEnumerable<StrongFit.Models.Exercicio>

@{
    ViewData["Exercicio"] = "Index";
}

<h1 style="text-align:center">Exercicio</h1>

<table class="table">
    <thead>
        <tr bgcolor=#00BFFF>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr bgcolor=#F5DEB3>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nome)
            </td>
            <td>
                    <button style="background: #B0E0E6; border-radius: 2px; padding: 10px; cursor: pointer; color: #fff; border: none; font-size: 10px;"> <a asp-action="Create" style="text-decoration:none">Inserir</a></button>
                    <button style="background: #B0E0E6; border-radius: 2px; padding: 10px; cursor: pointer; color: #fff; border: none; font-size: 10px;"> <a asp-action="Edit" asp-route-id="@item.ExercicioID" style="text-decoration:none">Editar</a> </button>
                    <button style="background: #B0E0E6; border-radius: 2px; padding: 10px; cursor: pointer; color: #fff; border: none; font-size: 10px;"> <a asp-action="Details" asp-route-id="@item.ExercicioID" style="text-decoration:none">Detalhes</a> </button>
                    <button style="background: #B0E0E6; border-radius: 2px; padding: 10px; cursor: pointer; color: #fff; border: none; font-size: 10px;"> <a asp-action="Delete" asp-route-id="@item.ExercicioID" style="text-decoration:none">Deletar</a> </button>
            </td>
        </tr>
}
    </tbody>
</table>
