@model IEnumerable<StrongFit.Models.Aluno>

@{
    ViewData["Aluno"] = "Index";
}


<h1 style="text-align:center">Aluno</h1>

<table class="table">
    <thead>
        <tr bgcolor=#00BFFF>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Nascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instagram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr bgcolor=#F5DEB3>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @item.Data_Nascimento.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instagram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.personal.Nome)
            </td>
            <td>
                    <button style="background: #B0E0E6; border-radius: 2px; padding: 10px; cursor: pointer; color: #fff; border: none; font-size: 10px;"> <a asp-action="Create" style="text-decoration:none">Inserir</a></button>
                    <button style="background: #B0E0E6; border-radius: 2px; padding: 10px; cursor: pointer; color: #fff; border: none; font-size: 10px;"> <a asp-action="Edit" asp-route-id="@item.AlunoID" style="text-decoration:none">Editar</a> </button>
                    <button style="background: #B0E0E6; border-radius: 2px; padding: 10px; cursor: pointer; color: #fff; border: none; font-size: 10px;"> <a asp-action="Details" asp-route-id="@item.AlunoID" style="text-decoration:none">Detalhes</a> </button>
                    <button style="background: #B0E0E6; border-radius: 2px; padding: 10px; cursor: pointer; color: #fff; border: none; font-size: 10px;"> <a asp-action="Delete" asp-route-id="@item.AlunoID" style="text-decoration:none">Deletar</a> </button>
            </td>
        </tr>
}
    </tbody>
</table>


