@model StrongFit.Models.Treino

@{
    ViewData["Detalhes"] = "Details";
}
<style>
       .exercicio {
        border: 1px solid black;
        border-radius: 8px;
        padding: 5px;
        margin-bottom: 10px;
        max-width: 190px;
    }
</style>
<h1>Details</h1>

<div>
    <h4>Treino</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aluno.Nome)
        </dd>
        <dd class = "col-sm-10";>
            @foreach (var exercicio in ViewBag.Exercicios)
            {
                <div class="exercicio" >
                    <h4 >@exercicio.Nome</h4>
                    <p>Categoria: @exercicio.Categoria.Nome</p>
                    <p>Descrição: @exercicio.Descricao</p>
                </div>
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TreinoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
