@model StrongFit.Models.Treino

@{
    ViewData["Title"] = "Editar Treino";
}

<h1>Edit</h1>

<h4>Treino</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TreinoID" />
            <div class="form-group">
                <label asp-for="AlunoID" class="control-label"></label>
                <select asp-for="AlunoID" class="form-control" asp-items="ViewBag.AlunoID"></select>
                <span asp-validation-for="AlunoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="Editar" type="submit" value="Alterar" class="btn btn-primary" />
            </div>
        </form>
         <div class="form-group">
                <label class="control-label">Exercícios Disponíveis:</label>
                <ul>
                   @foreach (var exercicioTreino in ViewBag.Exercicios)
                    {
                        <li>
                            @exercicioTreino.Nome
                            <form method="post" action="@Url.Action("AdicionarExercicio","Treino")">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="ExercicioTreino.ExercicioID" value="@exercicioTreino.ExercicioID" />
                                <input type="hidden" name="ExercicioTreino.TreinoID" value="@Model.TreinoID" />
                                <button id="Adicionar" type="submit" class="btn btn-primary">Adicionar</button>
                            </form>
                        </li>
                    }
                </ul>
            </div>
            <div class="form-group">
                <label class="control-label">Exercícios Selecionados:</label>
                <ul>
                    @foreach (var exercicioTreino in ViewBag.ExercicioTreino)
                    {
                        <li>
                            @exercicioTreino.NomeExercicio
                            <form method="post" action="@Url.Action("RemoverExercicio","Treino")">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="exercicioTreinoId" value="@exercicioTreino.ExercicioTreinoID" />
                                <button id="Remover" type="submit" class="btn btn-default">Remover</button>
                            </form>
                        </li>
                    }
                </ul>
            </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
