@model IEnumerable<StrongFit.Models.Treino>

@{
    ViewData["Treino"] = "Index";
}

<h1 style="text-align:center">Treino</h1>

<table class="table">
    <thead>
        <tr bgcolor=#00BFFF>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aluno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr bgcolor=#F5DEB3>
            <td>
                    @item.Data.ToString("dd/MM/yyyy")
            </td>
            <td>
                    @item.Hora.ToString("HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aluno.Nome)
            </td>
            <td>
                    <button style="background: #B0E0E6; border-radius: 2px; padding: 10px; cursor: pointer; color: #fff; border: none; font-size: 10px;"> <a asp-action="Create" style="text-decoration:none">Inserir</a></button>
                    <button style="background: #B0E0E6; border-radius: 2px; padding: 10px; cursor: pointer; color: #fff; border: none; font-size: 10px;"> <a asp-action="Edit" asp-route-id="@item.TreinoID" style="text-decoration:none">Editar</a> </button>
                    <button style="background: #B0E0E6; border-radius: 2px; padding: 10px; cursor: pointer; color: #fff; border: none; font-size: 10px;"> <a asp-action="Details" asp-route-id="@item.TreinoID" style="text-decoration:none">Detalhes</a> </button>
                    <button style="background: #B0E0E6; border-radius: 2px; padding: 10px; cursor: pointer; color: #fff; border: none; font-size: 10px;"> <a asp-action="Delete" asp-route-id="@item.TreinoID" style="text-decoration:none">Deletar</a> </button>
            </td>
        </tr>
}
    </tbody>
</table>
